In [2]:
import pandas as pd

In [4]:
file_path = "./womenDressesReviewsDataset.csv"
df = pd.read_csv(file_path)

In [5]:
df.head(10)

,s.no,age,division_name,department_name,class_name,clothing_id,title,review_text,alike_feedback_count,rating,recommend_index
0,0,40,General,Bottoms,Jeans,1028,Amazing fit and wash,Like other reviewers i was hesitant to spend t...,0,5,1
1,1,62,General Petite,Tops,Blouses,850,Lovely and unique!,As is true of a bunch of the fall clothing pho...,12,5,1
2,2,47,General Petite,Bottoms,Skirts,993,Meh,"I so wanted this skirt to work, love the desig...",3,1,0
3,3,45,General Petite,Bottoms,Pants,1068,Wow,Love love this! i was hesitant to buy this at ...,0,5,1
4,4,37,Initmates,Intimate,Swim,24,Great for bigger busts,I absolutely love the retro look of this swims...,0,5,1
5,5,43,General,Tops,Sweaters,933,Love the pattern and color,I love this sweater but i'm on the fence about...,0,4,1
6,6,83,General,Tops,Sweaters,937,Beautiful and unique.,Love this sweater!\r\nsoft and cozy and the ru...,4,5,1
7,7,34,General,Tops,Knits,868,Unique and wonderful,The sweater is comfortable and a good weight. ...,2,5,1
8,8,49,General Petite,Tops,Fine gauge,900,Great look all in one,I love everything about this sweater. it is ve...,4,5,1
9,9,49,General,Tops,Knits,873,Beauty meets comfort,"I love this top, the details at the neck and s...",0,5,1

In [10]:
grouped = df.groupby('age')

In [11]:
print(grouped)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x1209b6aa0>

In [14]:
new_df = df[['division_name',  'age', 'class_name']].groupby('class_name').sum().reset_index()
new_df

        class_name                                      division_name     age
0          Blouses  General PetiteGeneral PetiteGeneralGeneralGene...  137050
1   Casual bottoms                                     GeneralGeneral      53
2         Chemises                                          Initmates      38
3          Dresses  GeneralGeneral PetiteGeneralGeneral PetiteGene...  266124
4       Fine gauge  General PetiteGeneralGeneral PetiteGeneralGene...   49204
5        Intimates  InitmatesInitmatesInitmatesInitmatesInitmatesI...    6030
6          Jackets  General PetiteGeneralGeneral PetiteGeneral Pet...   30845
7            Jeans  GeneralGeneralGeneralGeneralGeneralGeneralGene...   49454
8            Knits  GeneralGeneralGeneralGeneral PetiteGeneralGene...  211304
9         Layering  InitmatesInitmatesInitmatesInitmatesInitmatesI...    6063
10         Legwear  InitmatesInitmatesInitmatesInitmatesInitmatesI...    6855
11          Lounge  InitmatesInitmatesInitmatesInitmatesInitmatesG...   29518
12       Outerwear  General PetiteGeneralGeneral PetiteGeneral Pet...   14526
13           Pants  General PetiteGeneral PetiteGeneralGeneralGene...   61138
14          Shorts  GeneralGeneralGeneralGeneralGeneralGeneralGene...   12911
15          Skirts  General PetiteGeneralGeneralGeneral PetiteGene...   40155
16           Sleep  InitmatesInitmatesInitmatesInitmatesInitmatesI...    9827
17        Sweaters  GeneralGeneralGeneralGeneral PetiteGeneralGene...   64352
18            Swim  InitmatesInitmatesInitmatesInitmatesInitmatesI...   13317
19           Trend  GeneralGeneralGeneral PetiteGeneralGeneralGene...    5243